<%- include('header'); -%>
<h2 style="text-align: center">About the app</h2>
<p style="text-align: center">
  This app was made using NodeJS and ExpressJS in the backend and CSS and EJS in
  the frontend.
</p>
<%- include('footer'); -%>
